@model Guest_book.Models.Guest

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Guest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Guest_Name" class="control-label"></label>
                <input asp-for="Guest_Name" class="form-control" />
                <span asp-validation-for="Guest_Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest_Address" class="control-label"></label>
                <input asp-for="Guest_Address" class="form-control" />
                <span asp-validation-for="Guest_Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Guest_Email" class="control-label"></label>
                <input asp-for="Guest_Email" class="form-control" />
                <span asp-validation-for="Guest_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Messages" class="control-label"></label>
                <input asp-for="Messages" class="form-control" />
                <span asp-validation-for="Messages" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
